node_modules/
website/releases/*.apk
.expo/
android/
ios/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
.DS_Store
assets/t*.png
build-view.json
eas-log.txt
eas-raw.bin
